.test{
    justify-content: center;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 10pxback;
    border-radius: 10px;
    font-size: 19px;
    color: var(--title);
}
.contact{
    color: var(--title);
}