:root{
    --main-color:#196BDE;
    --title:white;
    --bg-color:rgba(0, 0, 0, 0.826);
    --secondary:rgba(0, 0, 0, 0.568);
    --second-bg:#19283F;
    --main-title:rgba(255, 255, 255, 0.806);

}
body{
    background-color: #19283fcf;
}
html{

    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--title);

}